header {
    margin-bottom: 48px;
    background-color: #ffffff;
    height: 894px;
}
    .navbar_logo {
    padding-left: 120px;
    width: 40px;
    margin-top: 8px;
    }
    .navbar_menu {
    width: 25px;
    float:right;
    padding-right: 80px;
    }

.cards-lieu {
    position: relative;
    height: 600px;
    display: flex;
    justify-content: center;
}
.cards-lieu img {
    width: 70.5%;
    border-radius: 3%;
    position: absolute;
    height: 831px;
    left: 357px;
    top: -737px;
}
.orange-card {
    width: 40%;
    background-color: rgb(246,122,55);
    height: 517px;
    border-radius: 3%;
    position: absolute;
    top: -274px;
    left: 231px;
}
.bloc-cardlieu {
    
    width: 51.5%;
    height: 579px;
    border-radius: 5%;
    background-color: #ffffff;
    position: absolute;
    left: 623px;
    top: 12px;
    padding: 32px;
}
    .bloc-cardlieu h1 {
        font-size: 62px;
        margin-left: 17px;
        font-family: 'Oswald', sans-serif;
        font-weight: 700;
        line-height: 59px;
    }
    .bloc-cardlieu button {
        font-size: 22px;
        margin-left: 16px;
        width: 45%;
        height: 75px;
        margin-top: 16px;
    }
    .bloc-cardlieu p {
        font-size: 24px;
        margin-left: 16px;
    }
    /* les cartes */

    *{box-sizing: border-box;}

    body{
        font-family: sans-serif;
        background-color: #ccc;
        width: 100%;
        
    }

    .simply_section , .cards-lieu , .geniecivil , .partageonsvision ,
    .toucheelegance , .laptop , .back_form {
        height: 800px;
    }

    .cards-section {
    padding-top: 585px;
    height: 00px}


    .cards-section__title , .simply-section__title {
        text-align: center;
        font-weight: 700;
        padding-bottom: 100px;
        font-size: 32px;
    }

    .cards-section__cards{
        display: flex;
        justify-content: space-around;
        gap: 1em;
    }

    .card{
        width: 25%;
        padding: 1em;
        background-color: #fff;
        border-radius: 20px;
    }

    .card:nth-child(2n)
    {
        transform: translateY(25%)
    }


    .card_icon{
        width: 80px;
        height: 80px;
        background-color: rgb(246,122,55);
        border-radius: 50%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card_icon img {
        width: 50px;
        height: 50px;
        align-content: center;
    }


    .card_title{
        text-align: center;
        text-transform: uppercase;
        margin: 0.5em 0;
        font-weight: 300;
    }
/* partie simplicité avec cartes en arches */
.simply_section {
    height: 900px;
    background-color: #ffffff;
}
.simply_cardbox {
    display: flex;
    width: 74%;
    justify-content: center;
    align-items: center;
    padding-left: 25%;
}

.simply_cards {
    flex: 1; 
    padding: 1em;
    margin: 1em;
}
.simply_cards img {
    width: 100%;
    height: 45%;
}
.simply_cards p {
    text-align: center;
}
.strong {
    color: #ffffff;
    font-size: 17px;
}
.simply_orange {
    background-color: rgb(246,122,55);
    text-align: center;
    height: 215px;
    padding-top: 1px;
}
.simply_orange p {
    color: #ffffff;
}
/* partie genie civil */
.cerclevideorange {
background-color: rgb(246,122,55);
  border-radius:50%;
  width:80px;
  height:80px;
  top: 200px;
  position: absolute;
  left: 475px;
}
.cerclevideblanc {
  background-color: #ffffff;
  border-radius:50%;
  width:340px;
  height:340px;
  position: absolute;
  bottom: 65px;
  left: 400px;
}
.geniecivil {
    position: relative;
    height: 800px ;
}

.geniecivil img {
    border-radius:50%;
    position: absolute;
    width:340px;
    height:340px;
    position: absolute;
    left: 705px;
    top: 10px;
}
.genie_text {
    position: absolute;
    bottom: 175px;
    width: 70%;
    left: 200px;
}
.genie_text p {
    line-height: 2em;
    font-size: 14px;
}
.genie_text button {
    margin-top: 1em;
    width: 25%;
}
button {
    background-color: rgb(246,122,55);
    border-radius: 30px 30px 30px 30px;
    text-align: center;
    color: #ffffff;
    height: 35px;
    width: 20%;
    border: none;
}

/* partageons notre vision */ 
.partageonsvision {
    display: flex;
    padding-top:  150px;
    
    gap: 50px;
    width: auto;
    background-color: black;
    padding-left: 100px;
}
.partageonsvision img {
    height: 550px;
    margin-left: 150px;
}
.partageonsvision button {
    background-color: rgb(246,122,55);
    border-radius: 15px 15px 15px 15px;
    text-align: center;
    color: #ffffff;
    height: 35px;
    width: 40%;
    border: none;
}
.textevision  {
    width: 45%;
}
.textevision h1 {
    color: #ffffff;
}
.textevision p {
    color: #ffffff;
}
.architect img {
    border-radius: 5%;
    width: 50%;
    height: 350px;
    position: absolute;
    left: 350px;
}
.cequenousfaisons {
    background-color: rgb(246,122,55);
    width: 380px;
    height: 380px;
    border-radius: 15px;
    position: absolute;
    left: 755px;
    top: 270px;
}

.cequenousfaisons img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-left: 16px;
    margin-top: 16px;
}
.cequenousfaisons h2 {
    font-size: 12px;
    margin-left: 16px;
    margin-top: 16px;
    color: rgb(184, 180, 180);
}
.cequenousfaisons p {
    color: #ffffff;
    font-size: 22px;
    margin-left: 16px;
}
.eleganceparagraphe {
    background-color: #ffffff;
    width: 25%;
    height: 350px;
    position: absolute;
    font-size: 13px;
    top: 390px;
    left: 347px;
}
.eleganceparagraphe button {
   width: 60%;
}

.toucheelegance {
    position: relative;
    height: 830px;
    background-color: #ffffff;
}

.laptop {
    height: 600px;
    position: relative;
    background-color: #ffffff;
}

.man {
    border: solid;
    border-color: rgb(246,122,55);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    left: 375px;
    top: 125px;
}
.woman {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    position: absolute;
    left: 540px;
    top: 70px;
}

.apostrophe {
    background-color: rgb(246,122,55);
    width: 25%;
    height: 200px;
    border-radius: 15px;
    position: absolute;
    left: 340px;
    top: 240px;
    
}
.apostrophe img {
    height: 40px;
    width: 40px;
    color: #ffffff;
    margin-left: 16px;
    margin-top: 10px;
    filter: invert(100%) sepia(0%) saturate(7493%) hue-rotate(277deg) brightness(98%) contrast(101%);
}
.apostrophe p { 
    color: #ffffff;
    width: 95%;
    margin-left: 14px;
    font-size: 12px;
}
p {
    line-height: 1.5em;
}
.back_form {
    background-image: url(./images/nmmn-min.jpg);
  background-size: cover;
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}
.contact {
    display: flex;
    justify-content: center;
    border-radius: 15px 15px 15px 15px;
    text-align: center;
    margin-top: 90px;
    width: 100%;
    height: 520px;
}
.formulaire {
    background-color: #ffffff;
    border-radius: 15px 0px 0px 15px;
    width: 400px;
}
.formulaire h1 {
    color:  rgb(246,122,55);
}
.coordonnees {
    background-color: rgb(246,122,55);
    border-radius: 0px 15px 15px 0px;
    width: 400px;
    color: #ffffff;
}
.coordonnees h1,
.coordonnees h2,
.coordonnees h3 {
    font-size: 17px;
    margin-top: 50px;
}
.terms {
    color: rgb(246,122,55);
}
input , textarea {
    border: none;
    border-bottom: 1px solid  rgb(246,122,55);
    padding: 5px; 
    width: 90%;   
}  
form {
    text-align: left;
    padding-left: 16px;
    line-height: 1.5em;
} 
.case {
    display: flex; /* Utilisez flexbox pour aligner les éléments sur une ligne */
    align-items: center; /* Centrez les éléments verticalement */
}
input[type="checkbox"] {
    width: 10%;
    margin-left: -13px;}

    .freepik {
        text-decoration: underline;
    }
    footer {
        background-color: #333; /* Couleur de fond */
        color: #fff; /* Couleur du texte */
        padding: 20px; /* Espace à l'intérieur du pied de page */
        text-align: center; /* Alignement du texte au centre */
        font-size: 14px; /* Taille de la police */
    }